.weapon {
  display: grid;
  grid-template-rows: min-content auto min-content;
}

.weapon .top-stats {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 0.25em;
  /* color: hsl(33, 32%, 55%); */

  /* border-bottom: 2px solid hsl(33, 30%, 75%); */
}

.weapon .bottom-stats {
  display: grid;
  grid-template-columns: auto auto auto;
}

.weapon .price {
  padding: 0 0.3em;
  justify-self: right;
  background-color: hsl(44, 56%, 52%);

  border-radius: 0.25em;
}

.weapon .encumbrance {
  justify-self: right;
}