.weapon {
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
}

.weapon .top-stats {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.25em;
  text-transform: capitalize;
}

.weapon span.label {
  font-family: 'Averia Serif Libre', serif;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 0.25em;
}

.weapon .category {
  text-transform: capitalize;
}

.weapon .traits {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}

.weapon .traits .trait {
  text-transform: capitalize;
  background-color: hsl(0, 0%, 80%);
  padding: 0 0.25em;
  border-radius: 2px;
}

.weapon .availability {
  text-transform: capitalize;
}

.weapon .bottom-stats {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 0.5em;
}

.weapon .bottom-stats svg {
  padding-right: 0.25em;
}

.weapon .encumbrance {
  justify-self: left;
  text-transform: capitalize;
}

.weapon .price {
  justify-self: right;
  /* background-color: hsl(44, 56%, 52%); */
  /* border-radius: 0.25em; */
  color: hsl(40, 55%, 50%);
}