.Weapon {
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    width: 13em;
    height: 10em;
    padding: 0.25em;
    border-radius: 0.25em;
    background: white;
    border: 2px solid hsl(40, 5%, 95%);
    box-shadow: 4px 4px 4px hsl(40, 5%, 75%);
}

.Weapon .name {
    font-family: 'IM Fell DW Pica';
    font-size: 1.5em;
    line-height: 1em;
}

.Weapon .top-stats {
    display: grid;
    grid-template-columns: auto auto;
}

.Weapon .bottom-stats {
    display: grid;
    grid-template-columns: auto auto auto;

}

.Weapon .price {
    justify-self: right;
    background-color: hsl(44, 56%, 52%);
    border-radius: 0.25em;
}

.Weapon .encumbrance {
    justify-self: right;
}