.Card {
  display: grid;
  grid-template-rows: min-content auto min-content min-content;
  border-radius: 0.5em;
  font-family: "Averia Serif Libre", serif;
  font-size: 0.8em;
  text-align: justify;
  color: hsl(0, 0%, 30%);
  /* border: 4px solid hsl(33, 30%, 85%); */
  /* background-color: hsla(34, 30%, 85%, 0.5); */
  /* background-color: hsla(34, 40%, 90%, 1); */
  /* box-shadow: inset 0 0 0 4px hsla(34, 45%, 90%, 1), inset 0 0 0 5px hsla(34, 30%, 80%, 1); */
}

.Card .title {
  font-family: 'IM Fell DW Pica';
  font-size: 1.75em;
  line-height: 1em;
  padding-bottom: 0.25em;
}

.Card .source {
  margin-top: 1.5em;
  font-size: 0.90em;
  font-style: italic;
  text-align: right;
  color: hsl(0, 0%, 65%);
}

.Card .divider {
  height: 20px;
  background-image: url(../../assets/divider.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}