.SearchBar {
  padding: 0.5em 0.5em;
  padding-bottom: 1em;
  display: flex;
  gap: 0.5em;
}

.SearchBar .section-title {
  font-size: 1.2em;
  background-color: hsl(10, 0%, 30%);
  color: hsl(10, 75%, 90%);
  padding: 0.15em 0.5em;
  display: flex;
  gap: 0.5em;
  align-self: center;
  border-radius: 5px;
  text-transform: capitalize;
  font-family: 'IM Fell DW Pica';
}

.SearchBar .section-title button {
  background-color: transparent;
  border: none;
  color: hsl(10, 75%, 90%);
  font-size: 0.9;
  font-family: 'IM Fell DW Pica';

}

.SearchBar input {
  height: 2.5em;
  background-color: hsla(40, 30%, 25%, 0.25);
  border: none;
  border-radius: 4px;
  color: hsla(40, 30%, 15%, 0.75);
  padding: 0 1em 0 1em;
  font-family: 'IM Fell DW Pica';
  flex: 1;
}

.SearchBar input:focus {
  outline: none
}