.NavBar {
  border-right: 4px solid hsla(40, 30%, 25%, 0.05);

  display: grid;
  grid-template-columns: min-content auto;
}

.NavBar .app-logo {
  font-family: 'Pirata One';
  font-size: 1.5em;
  min-width: 8em;
}

.NavBar ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.NavBar ul li {
  list-style-type: none;
}