.Section {
  display: grid;
  grid-template-rows: min-content auto;
  padding: 1em;
}

.Section .filter-bar {
  display: flex;
  gap: 0.25em;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5em;
}

.Section .filter-bar button {
  font-family: 'IM Fell DW Pica';
  font-size: 0.95em;
  height: 2em;
  width: min-content;
  white-space: nowrap;
  background-color: hsla(0, 0%, 80%);
  color: hsl(0, 0%, 45%);
  border: none;
  padding: 0 1.5em;
  cursor: pointer;
}

.Section .filter-bar button:first-child {
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%, 5% 49%);
}

.Section .filter-bar button:last-child {
  clip-path: polygon(0% 0%, 100% 0, 95% 49%, 100% 100%, 0% 100%);
}

.Section .filter-bar button:hover {
  background-color: hsla(0, 0%, 75%);
  transition: background-color 0.25s
}

.Section .filter-bar button.active {
  background-color: hsla(0, 0%, 45%);
  color: white;
}

.Section .filter-bar button:active {
  transform: translateY(2px);
}