@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=IM+Fell+English+SC&family=IM+Fell+Great+Primer+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  /* background-image: url('./assets/background-texture.png'); */

  background-position: 50% 0;
  background-repeat: repeat;
  background-image: url(./assets/bg-pattern-paper.png);
  position: relative;
  z-index: 3;
}

.App {
  display: grid;
  grid-template-rows: min-content min-content auto;

  width: 100%;
  overflow-x: hidden;
}

.Content {
  display: grid;
  grid-template-rows: min-content auto;
}