.Weapons {
  display: grid;
  gap: 1em;
  grid-template-rows: min-content auto;
}

.Weapons .filter-bar {
  display: flex;
  gap: 0.25em;
  flex-direction: row-reverse;
}

.Weapons .content {
  display: flex;
  gap: 0.75em;
  flex-wrap: wrap;
}

.Weapons .filter-bar button {
  font-family: 'IM Fell DW Pica';
  height: 30px;
  width: min-content;
  background-color: hsla(40, 25%, 75%, 0.5);
  box-shadow: inset 0 0 0 2px hsla(40, 25%, 75%, 0.5), inset 0 0 0 3px hsl(36, 59%, 93%);
  color: hsl(40, 15%, 40%);
  border: none;
  padding: 0 1.5em;
  cursor: pointer;
}

.Weapons .filter-bar button:first-child {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.Weapons .filter-bar button:last-child {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.Weapons .filter-bar button:hover {
  background-color: hsla(40, 25%, 65%, 0.5);
  transition: 0.25s
}

.Weapons .filter-bar button.active {
  background-color: hsla(40, 30%, 25%, 0.75);
  box-shadow: inset 0 0 0 2px hsla(40, 30%, 25%, 0.5), inset 0 0 0 3px hsl(36, 59%, 93%);
  color: white;
}